@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Washyn.Domain.Localization
@model Washyn.Web.Pages.Index
@inject IHtmlLocalizer<WashinResource> L
@{
    // Layout = null;
}

<h1>Welcome to example abp basic solution with 4 layers.</h1>
<hr>

<h5 class="text-center">TimeZones for country</h5>

<ul>
    @foreach (var item in Model.TimeZones)
    {
        <li>
            @item.Key - @item.Value
        </li>
    }
</ul>

<h5 class="text-center">TimeZones ids </h5>
@foreach (var item in Model.TimeZoneIds)
{
    <li>
        @item
    </li>
}


<h2>Windows Format is : @Model.WindowsFormat</h2>

<hr>

<h5 class="text-center">test</h5>

<abp-card>
    <abp-card-header>
        <abp-card-title>
            Test title
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.
        
        <br>
        
        <strong>Example localization: </strong>
        <p>
            @(L["KeyLocalizationExample"])
        </p>
        
        
        <hr>
        
        <div>
            @if (HttpContext.User.Identity != null && HttpContext.User.Identity.IsAuthenticated)
            {
                <a href="/logout" class="btn btn-outline-secondary">Logout</a>
            }
            else
            {
                <a href="/login" class="btn btn-outline-secondary">Login</a>
            }
        </div>
        
        <hr>
        <h3>Claims</h3>
        <ul>
            @foreach (var iten in HttpContext.User.Claims)
            {
                <li><strong>@iten.Type : </strong> @iten.Value </li>
            }
        </ul>
        
    </abp-card-body>
    <abp-card-footer>
        test footer
    </abp-card-footer>
</abp-card>