@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JQuery
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling
@using Washyn.Web.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Core
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Washyn.Web</title>
    
    @* <abp-style-bundle name="@CustomBundles.Styles.Global" /> *@
    @* <abp-style-bundle name="@StandardBundles.Styles.Global" /> *@
    
    <abp-style-bundle name="StylesBundle">
        @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
        @* <link rel="stylesheet" href="~/css/site.css" /> *@

        <abp-style src="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <abp-style src="/css/site.css" />
        <abp-style type="@(typeof(CoreStyleContributor))"></abp-style>
    </abp-style-bundle>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Washyn.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create">Create</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/ExamplePage">Example page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route="/ExamplePage">Example page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/ExamplePage">Example page2</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home/adminlte">adminlte</a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Washyn.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @* <abp-script-bundle name="@CustomBundles.Scripts.Global" /> *@
    @* <abp-script-bundle name="@StandardBundles.Scripts.Global" /> *@

<abp-script-bundle name="ScriptBundle">
    <abp-script type="@(typeof(JQueryScriptContributor))"></abp-script>
    @* <abp-script src="/lib/jquery/dist/jquery.min.js"></abp-script> *@
    <abp-script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></abp-script>
    <abp-script type="@(typeof(CoreScriptContributor))"></abp-script>
    <abp-script src="/js/site.js"></abp-script>
</abp-script-bundle>


    <script src="~/Abp/ApplicationConfigurationScript"></script>
    <script src="~/Abp/ServiceProxyScript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
